<!DOCTYPE html>
<html lang="fr">


<head>
  <!-- include -->
  <%- include('partials/head') %>

    <!-- title -->
    <title>oCoffee</title>

    <!-- style -->
    <link rel="stylesheet" href="/css/accueil.css">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->


</head>

<body class="body">
  <div class="container-global">
    <%- include('partials/header') %>

      <main class="main">
        <section class=" container-accueil">

          <article class="texte-accueil">
            <h1 class="h1">Qui sommes-nous ?</h1>
            <img id="img-freres" src="/images/freres-pepper.webp" alt="à décrire">

            <p>Jean et Jacques Pepper, deux frères passionnés par le café, sont les fondateurs de notre boutique. Avec
              une
              expertise approfondie et un amour profond pour cette délicieuse boisson, ils ont créé un espace où le café
              est célébré comme une expérience raffinée et inspirante.</p>
            <a class="btn-accueil" href="/catalogue">Voir notre catalogue</a>
          </article>
          <img id="image-accueil" src="/images/about.jpg" alt="à décrire">

        </section>

        <section class="nouveautes">
          <h2>Nouveautés</h2>
          <ul class="container-produits">

            <% for (const coffee of coffees) { %>

              <li class="container-produit">
                <p class="produit">
                  <%= coffee.coffee_name %>
                </p>
                <img src="/images/<%= coffee.reference %>.png" alt="illustration du cafe <%= coffee.coffee_name %>">
                <a href="/produit/<%= coffee.id %>" class="btn-nouveautes">Découvrir le produit</a>
              </li>
              <% } %>

          </ul>
        </section>

      </main>

      <%- include('./partials/footer') %>
  </div>
</body>

</html>