<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- include -->
  <%- include('partials/head') %>

    <!-- title -->
    <title>oCoffee</title>

    <!-- style -->
    <link rel="stylesheet" href="/css/catalogue.css">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
</head>

<body class="body">
  <div class="container-global">
    <%- include('partials/header') %>
      <main>

        <!----- section notre catalogue ----->
        <h1 class="h1">Notre catalogue</h1>
        <section class="container-catalogue">
          <h2 class="titre-choisir-cafe">Choisissez votre café</h2>
        </section>

        <!----- section formulaire recherche par catégories ----->
        <section class="container-formulaire">
          <h2 class="recherche-categorie">Recherchez votre café en fonction de sa catégorie</h2>

          <form action="/search/category" method="get">
            <select name="category" id="categorie">
              <option value="null">aucune</option>
              <% for (const category of categories) { %>
                <option value="<%= category.feature %>">
                  <%= category.feature %>
                </option>
                <% } %>

            </select>
            <input type="submit" value="Chercher">
          </form>
        </section>

        <!----- section voir plus de produits ----->

        <section class="voir-plus-produits">
          <a href="/catalogue?all=true" class="btn-produits">VOIR TOUS LES PRODUITS</a>


          <% if (coffees.length> 3) { %>
            <a href="/catalogue" class="btn-produits">VOIR MOINS</a>
        </section>
        <% } %>

          <!----- section produits catalogue----->
          <h2 class="titre-presentation-produits">
            <%= title %>
          </h2>

          <section class="catalogue-produits">
            <article class="container-produits-catalogue">
              <% for (const coffee of coffees) { %>
                <div class="container-produit">
                  <p class="produit_name">
                    <%=coffee.coffee_name%> - <%= coffee.price_per_kilo %> € le kilo
                  </p>
                  <p class="produit_name">

                  </p>
                  <img src="/images/<%=coffee.reference%>.png" alt="illustration de <%=coffee.coffee_name%>">


                  <a href="/produit/<%=coffee.id%>" class="btn">
                    Détails
                  </a>
                </div>
                <% } %>
            </article>
          </section>

          <!-- COMMUNS FOOTER -->
      </main>
      <%- include('./partials/footer') %>
  </div>
</body>

</html>