<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- include -->
  <%- include('partials/head') %>

    <!-- title -->
    <title>oCoffee</title>

    <!-- style -->
    <link rel="stylesheet" href="/css/produit.css">
</head>

<body class="body">
  <div class="container-global">
    <%- include('partials/header') %>
      <main>

        <!----- section image produit ----->

        <h1 class="productName">
          <%=coffee.coffee_name%>
        </h1>
        <section class="container-produit-caracteristiques">
          <img class="image-produit-selectionne" src="/images/<%= coffee.reference %>.png" alt="illustration">

          <article class="details-produit">
            <h2>
              <%= coffee.description %>
            </h2>
            <ul>
              <li>Référence :<%= coffee.reference %>
              </li>
              <!-- L'origine du café est stockée sous country_name et non origin -->
              <li>Origine : <%= coffee.country_name %>
              </li>
              <li>Prix au kilo :<%= coffee.price_per_kilo %>
              </li>
              <li>Caractéristique principale :<%= coffee.feature %>
              </li>
              <li class="<%= coffee.available ? 'text-green' : 'text-red' %>">
                Disponible : <%= coffee.available ? "✅ oui" : "❌ non" %>
              </li>
            </ul>
          </article>
        </section>
        <!-- fin section image produits ----- -->
        <!-- COMMUNS FOOTER -->
      </main>
      <%- include('./partials/footer') %>
  </div>
</body>

</html>